[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pillow = "==6.2.2"
scikit-learn = "==0.20"
scikit-image = "==0.14.5"
pathos = "*"
more-itertools = "==5.0.0"
astropy = "==2.0.16"
emcee = "*"
weave = "*"
cython = "*"
cymem = "==2.0.3"
bokeh = "==1.3.4"

[dev-packages]
jupyter = "*"
jupyterthemes = "*"
pylint = "*"
parse = "*"
pandas = "*"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
